<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018256187049-q94b053ncci0td7kca9clt0fh2p62rl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018256187049-q94b053ncci0td7kca9clt0fh2p62rl0</string>
	<key>API_KEY</key>
	<string>AIzaSyDhrh2RfpaPN46HGid0_nrFU47FVzJ0I1M</string>
	<key>GCM_SENDER_ID</key>
	<string>1018256187049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codewithnavakanth.Caloryzee</string>
	<key>PROJECT_ID</key>
	<string>caloryze-8cade</string>
	<key>STORAGE_BUCKET</key>
	<string>caloryze-8cade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018256187049:ios:360e2db646c9bd2d2d93b8</string>
</dict>
</plist>